.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* App.css */
.mainPageContainer {
  display: flex;
  height: 92.0vh;
  margin-top: 60px;
}

.leftSide {
  flex: 1;
  padding: 30px;
  background-color: #161616; /* Adjust background color as needed */
}

.rightSide {
  flex: 1;
  padding: 30px;
  background-color: rgb(21, 21, 21); /* Adjust background color as needed */
}

.latexBox {
  margin-bottom: 20px;
}

/* Webkit-specific: Hide scrollbar */
.element::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for the entire document */
body {
  overflow: hidden;
}

button {
  background: 'none';
  border: 'none';
  cursor: 'pointer';
  color: 'white';
}

button:hover {
  background: 'none';
  border: '1px solid black';
  color: 'lightgray';
}

button:active {
  transform: scale(1);
  color: 'white';
}